In [1]:
import pandas as pd
import seaborn as sns

In [2]:
movies = "../data/movie_lens_big/movies.csv"
ratings = "../data/movie_lens_big/ratings.csv"

In [6]:
df_movies = pd.read_csv(movies)
df_ratings = pd.read_csv(ratings)

In [8]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264