In [103]:
import pandas as pd
import seaborn as sns
import numpy as np

In [104]:
movies = "../data/movie_lens_big/movies.csv"
ratings = "../data/movie_lens_big/ratings.csv"

In [105]:
df_movies = pd.read_csv(movies, dtype={"title":"str", "genres":"str"})
df_ratings = pd.read_csv(ratings)

In [106]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int64
 1   title    58098 non-null  object
 2   genres   58098 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.3+ MB

In [107]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [108]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [109]:
df_movies["genres"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 58098 entries, 0 to 58097
Series name: genres
Non-Null Count  Dtype
--------------  -----
58098 non-null  object
dtypes: object(1)
memory usage: 454.0+ KB

In [110]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [111]:
# dropping userId and timestamp from the dataframe
df_ratings = df_ratings.drop(["userId", "timestamp"], axis=1)
df_ratings.head()

   movieId  rating
0      307     3.5
1      481     3.5
2     1091     1.5
3     1257     4.5
4     1449     4.5

In [112]:
df_movies["year"] = df_movies.title.str.extract("(\d+)").replace(np.nan, "0").astype("int64") # extracting the year from title and creating new column 
df_movies["title"] = df_movies["title"].str.replace("\d+", '').str.replace(r"\(.*\)","") # This removes the brackets



df_movies.head()

C:\Users\Sam Glass ITHS\AppData\Local\Temp\ipykernel_6200\2172042238.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_movies["title"] = df_movies["title"].str.replace("\d+", '').str.replace(r"\(.*\)","") # This removes the brackets

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [113]:
dummies = df_movies["genres"].str.get_dummies(sep="|") # This seperates all the genres into columns with 1 meaning true
df_movies_genre_split = pd.concat([df_movies, dummies], axis=1)

df_movies_genre_split.head()

,movieId,title,genres,year,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,0,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,Adventure|Children|Fantasy,1995,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,Comedy|Romance,1995,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II,Comedy,1995,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [137]:
# making a mean average rating of the movies from movie id and rating
average_rating = df_ratings.groupby("movieId")["rating"].mean().reset_index().round(decimals=1)
average_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53889 entries, 0 to 53888
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  53889 non-null  int64
 1   rating   53889 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 842.1 KB

In [138]:
amount_ratings = df_ratings[["movieId", "rating"]].value_counts(subset=["movieId"])
amount_ratings.head()

movieId
318        97999
356        97040
296        92406
593        87899
2571       84545
dtype: int64