# 2.3

In [39]:
import pandas as pd

In [40]:
disease_data = "..\data\Heart_disease.csv"
df_disease = pd.read_csv(disease_data)

In [41]:
df_disease.head(1)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,BMI_cat,bp_category
0,1,55.38,1,156,85.0,140,90,3,1,0,0,1,1,34.93,obese (class I),Stage 2

In [42]:
df_one = df_disease.drop(columns=["ap_hi", "ap_lo", "height", "weight", "BMI"])
df_one = pd.get_dummies(df_one, columns=["gender","BMI_cat", "bp_category"])
df_one.rename(columns= {"gender_1" : "female", "gender_2" : "male"}, inplace=True)
df_one.head(1)

,id,age,cholesterol,gluc,smoke,alco,active,cardio,female,male,BMI_cat_normal range,BMI_cat_obese (class I),BMI_cat_obese (class II),BMI_cat_obese (class III),BMI_cat_overweight,BMI_cat_underweight,bp_category_Elevated,bp_category_Healthy,bp_category_Stage 1,bp_category_Stage 2
0,1,55.38,3,1,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1

In [43]:
df_two = df_disease.drop(columns=["BMI_cat", "bp_category", "height", "weight"])
df_two = pd.get_dummies(df_two, columns=["gender"])
df_two.rename(columns= {"gender_1" : "female", "gender_2" : "male"}, inplace=True)
df_two.head(1)

,id,age,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,female,male
0,1,55.38,140,90,3,1,0,0,1,1,34.93,1,0

# 2.4

In [44]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

In [45]:
# Creating train test split and validation for the first data frame
X,y = df_one.drop("cardio", axis = "columns"), df_one["cardio"]

X.shape, y.shape

((19788, 19), (19788,))

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42) 
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)

print(f"X train = {X_train.shape}\n X test = {X_test.shape}\n X val = {X_val.shape}\n y train = {y_train.shape}\n y test = {y_test.shape}\n y split = {y_val.shape}"  )

X train = (13257, 19)
 X test = (3266, 19)
 X val = (3265, 19)
 y train = (13257,)
 y test = (3266,)
 y split = (3265,)

In [48]:
# Feature scaling and normalization

# creating a standard scaler object
scaler = StandardScaler()

# creating a MinMaxScaler object
minmax_scaler = MinMaxScaler()

# Fitting and transforming the data using standard scaler
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Fit and transforming the data using the minmax scaler
X_train_norm = minmax_scaler.fit_transform(X_train)
X_val_norm = minmax_scaler.transform(X_val)

# TODO write a little more about the scalers