# 2.3

In [12]:
import pandas as pd

In [14]:
disease_data = "..\data\Heart_disease.csv"
df_disease = pd.read_csv(disease_data)

In [16]:
df_disease.head(1)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,BMI_cat,bp_category
0,1,55.38,1,156,85.0,140,90,3,1,0,0,1,1,34.93,obese (class I),Stage 2

In [24]:
df_one = df_disease.drop(columns=["ap_hi", "ap_lo", "height", "weight", "BMI"])
df_one = pd.get_dummies(df_one, columns=["gender","BMI_cat", "bp_category"])
df_one.rename(columns= {"gender_1" : "female", "gender_2" : "male"}, inplace=True)
df_one.head(1)

,id,age,cholesterol,gluc,smoke,alco,active,cardio,female,male,BMI_cat_normal range,BMI_cat_obese (class I),BMI_cat_obese (class II),BMI_cat_obese (class III),BMI_cat_overweight,BMI_cat_underweight,bp_category_Elevated,bp_category_Healthy,bp_category_Stage 1,bp_category_Stage 2
0,1,55.38,3,1,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1

In [28]:
df_two = df_disease.drop(columns=["BMI_cat", "bp_category", "height", "weight"])
df_two = pd.get_dummies(df_two, columns=["gender"])
df_two.rename(columns= {"gender_1" : "female", "gender_2" : "male"}, inplace=True)
df_two.head(1)

,id,age,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,female,male
0,1,55.38,140,90,3,1,0,0,1,1,34.93,1,0